body {
    background-color: #000;
    color: #fff !important;
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
}

img {
    width: 100%;
    height: auto;
}

.color {
    text-align: center;
    background-color: #ff6525;
    color: #000;
    background-position: 15px 0;
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

.img1 {
    height: 100vh;
    max-width: 100%;
}

.text p {
    text-align: justify;
}

.mt {
    margin-top: 30px;
}

#top {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 2%;
    cursor: pointer;
    z-index: 10;
}

#top img {
    padding: 15px;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    background: #ff6525;
}

.mt h2 {
    font-size: 16px;
}

.logo-div {
    max-width: 1150px;
    max-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

.row.text.mt p,
.row.text.mt h3 {
    color: #fff;
}

.row.text.mt.m .col-xs-12.col-sm-6.col-md-3:hover p {
    color: grey;
}

.row.text.mt.m .col-xs-12.col-sm-6.col-md-3:hover h3 {
    color: grey;
}

.row.text.mt img {
    height: 160px;
}

.row.color.mt a {
    list-style: none;
    text-decoration: none;
    color: #000;
    height: 300px;
}

.row.color.mt:hover a {
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.596);
}

.insta1 {
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    right: 420px;
    margin-top: 9px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }
    .mt {
        margin-top: 15px;
    }
    .img1 {
        max-width: 100%;
        max-height: 280px;
    }
    .logo-div {
        max-width: 100%;
        max-height: 90px;
    }
    .logo {
        max-width: 90px;
        max-height: 90px;
    }
    .row.text a div img {
        max-width: 100%;
        max-height: 340px;
    }
    .insta1 {
        right: 160px;
    }
}

@media (max-width: 425px) {
    h2 {
        font-size: 12px;
    }
    .mt {
        margin-top: 8px;
    }
    .img1 {
        max-width: 100%;
        max-height: 80px;
    }
    .logo-div {
        max-width: 100%;
        max-height: 40px;
    }
    .logo {
        max-width: 40px;
        max-height: 40px;
    }
    .row.text a div img {
        max-width: 100%;
        max-height: 140px;
    }
    .insta1 {
        right: 200px;
        top: 1170px;
        max-width: 25px;
        max-height: 25px;
    }
    .row.color.mt.a {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
